# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
colors.scheme.xml
debugger.renderers.xml
debugger.xml
github_settings.xml
ide.general.xml
ignore.xml
markdown.xml
project.default.xml
vcs.xml
README.md
codestyles
_windows