<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd

		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd ">

    <!-- 包扫描器 -->
    <context:component-scan base-package="com.baibaoxiang.serviceimpl"/>
    <bean id="fastDfsClient" class="com.baibaoxiang.tool.FastDfsClient"/>
    <bean id="articleService" class="com.baibaoxiang.serviceimpl.ArticleServiceImpl"/>
    <bean id="managerService" class="com.baibaoxiang.serviceimpl.ManagerServiceImpl"/>
    <bean id="articleTypeService" class="com.baibaoxiang.serviceimpl.ArticleTypeServiceImpl"/>
    <bean id="dayTotalService" class="com.baibaoxiang.serviceimpl.DayTotalServiceImpl"/>
    <bean id="schoolService" class="com.baibaoxiang.serviceimpl.SchoolServiceImpl"/>
    <bean id="jedisClient" class="com.baibaoxiang.jedis.JedisClientPool"/>
    <bean id="redisService" class="com.baibaoxiang.serviceimpl.RedisServiceImpl"/>
    <bean id="areaService" class="com.baibaoxiang.serviceimpl.AreaServiceImpl"/>
</beans>